body {
  font-family: "Arial", sans-serif;
  margin: 20px;
  background-color: #f2f7f2; /* Verde claro suave */
  color: #333333;
}

h1 {
  text-align: center;
  color: #335533; /* Verde oscuro */
  margin-top: 0;
}

label {
  font-weight: bold;
  color: #335533; /* Verde oscuro */
}

input[type="text"],
select {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #c4d6c4; /* Verde claro suave */
  font-size: 16px;
  color: #333333;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #449944; /* Verde */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
  background-color: #f7fff7; /* Verde claro suave */
  border: 1px solid #c4d6c4; /* Verde claro suave */
  padding: 10px;
  color: #333333;
}

ul {
  padding-left: 20px;
}

#inventory-table {
  margin: 30px auto;
  border-collapse: collapse;
  width: 100%;
}

#inventory-table th,
#inventory-table td {
  padding: 10px;
  border: 1px solid #c4d6c4; /* Verde claro suave */
}

#inventory-table tbody tr {
  page-break-inside: avoid;
}

#inventory-table th {
  background-color: #449944; /* Verde */
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

#inventory-table td {
  text-align: center;
}

#inventory-table tbody tr:nth-child(even) {
  background-color: #f2f7f2; /* Verde claro suave */
}

#inventory-table tbody tr:hover {
  background-color: #e1f0e1; /* Verde claro más claro al pasar el cursor */
}

/* Colores de la empresa - No se cambian */

/* Estilos específicos para pantallas más pequeñas - No se cambian */
@media (max-width: 600px) {
  input[type="text"],
  select {
    width: 100%;
  }

  #inventory-table {
    font-size: 12px;
  }

  #inventory-table th,
  #inventory-table td {
    padding: 6px;
  }
}

@media (max-width: 700px) {
  .menu,
  .execute-button,
  #results {
    display: none !important;
  }
}
